@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
}
.hero{
    display: flex;
    justify-content: space-between;
    padding-top: 140px;
}
.hero .hero-text h1{
    padding-top: 110px;
    font-size: 64px;
    margin-bottom: 50px;
    color: #fff;
}
.hero .hero-text p{
    color: #fff;
    width: 538px;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 50px;
}
.hero .hero-btn{
    background: #D1A954;
    font-size: 18px;
    width: 160px;
    height: 50px;
    border: none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
}